
body{ font-family:microsoft yahei; font-size:16px; background:#FFF;}
a:hover{ text-decoration:none; color:#000;}
/*head*/
.navbar_header{ background-color:#ff9700; height:4.3rem;}
.head_bgn_all{ color:#FFF; font-size:1.2rem;}
.head_bgn_all .head_bgn_icon{ color:#FFF; line-height:4.5rem; float:left; position:absolute; z-index:9999; left:1.2rem; font-size:2rem;}
.head_title{ text-align:center; width:100%; color:#FFF;}
.head_bgn_li{ color:#FFF;}
/*foot*/
.navbar_footbgn{ background-color:#ffffff; height:4.3rem;}
.foot_bgn_all{ width:100%;}
.foot_bgn_all a{ display:inline-block; width:20%; height:3.2rem; font-size:1.2rem;}
.foot_bgn_img{ width:2rem; height:1.7rem; display:block; margin:auto; margin-top:-0.5rem;}
.foot_bgn_li{ width:100%; text-align:center; color:#6e6e6e; }
/*conten*/
.conten_main{ margin:3.2rem auto;}

<!--neirong-->
.login_content{ margin-top:10rem; width:100%;}
.borderra_login{ border-radius:0rem 0.5rem 0.5rem 0!important;}
.tab_list{ margin:2rem auto;}
.marg_top{ margin-top:5rem;}
.submit_cen{ width:100%; text-align:center; margin-top:2rem;}
.submit_cen .inputsub{ padding:0.5rem 3rem;}
.forget_pass{ text-align:right; display:block; color:#ff9700; font-size:1.4rem; text-decoration:underline;}










