/*head*/
body{ font-family:microsoft yahei; font-size:16px;}
.navbar_header{ background-color:#ff9700; height:4.3rem;}
.head_bgn_all{ color:#FFF; font-size:1.2rem;}
.head_bgn_all .head_bgn_icon{ color:#FFF; line-height:4.5rem; float:left; position:absolute; z-index:9999; left:1.2rem; font-size:2rem;}
.head_title{ text-align:center; width:100%; color:#FFF;}
.head_bgn_li{ color:#FFF;}
/*foot*/
.navbar_footbgn{ background-color:#ffffff; height:4.3rem;}
.foot_bgn_all{ width:100%;}
.foot_bgn_all a{ display:inline-block; width:20%; height:3.2rem; font-size:1.2rem;}
.foot_bgn_img{ width:2rem; height:1.7rem; display:block; margin:auto; margin-top:-0.5rem;}
.foot_bgn_li{ width:100%; text-align:center; color:#6e6e6e; }
/*conten*/
.conten_main{ margin:3.2rem auto;}
.nav{margin-top:10px;margin-left:15px;font-size: 50px;margin-bottom: 15px;}
.nav li{float: left;width: 45%;margin-right: 4%;padding-top:20px;font-size: 16px;}
.nav li a{text-align: center;color:#ccc;}
.container{margin-left: 5px;}
.container p{font-size: 13px;margin-top: 15px;height: 15px;line-height: 20px;}
.container p a{color:#666666;}
.container h3{margin-top: 20px;font-size: 16px;height: 15px;line-height: 15px;font-weight: bold;color:#666}
.container h3 p{font-size: 13px;height: 15px;font-weight: normal;text-indent: 5em;}
